*{
    font-family:"josefin Sans", sans-serif;
    box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 10px 2px 6px 12px;
  align-items: end;
  border-bottom: solid 1px white;
  column-gap: 10px;
  background-color: rgb(233, 197, 197);
}

footer{
  background-color: rgb(233, 197, 197);
  display: flex;
  justify-content: center;
}

.container {
  width: 750px;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 1rem;
 
}

.icons {
  display: flex;
  flex-direction: row;
  size: 150px;
  align-items: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  
}

.icons img{
  width: auto;
  height: 160%;
  padding: 0.1rem;
}

.footeright{
  width: auto;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 2rem;
    color:rgb(50, 7, 90)
}

.hamburger {
    background: none;
    border: none;
    color:rgb(50, 7, 90);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}
.hamburger.show::before {
  content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color:rgb(50, 7, 90);
    text-decoration: none;
    border-bottom: solid 1px white;
    font-size: 20px;
}

.navigation li.current{
    background-color: rgb(210, 183, 236);
    font-size: 20px ;
}

.navigation a:hover{
    background-color: rgb(50, 7, 90);
    color: white;
}
button {
  padding: 0.8rem 1.3rem;
  background-color: rgb(187, 164, 207);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.5rem;
  cursor: pointer;

}

button:hover {
  background-color: #e420ca;
}

button img {
  display: flex;
  width: 2rem;
  align-items: center;
}

.view{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem
}
#members.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

#members.list {
  display: block;
  display: flex;
  align-items: end;
  display: grid;
  grid-template-rows: 1fr;
}

.member-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.member-card img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.member-card a:hover {
  text-decoration: underline;
}

.membership {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;

}

.list .member-card {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.list .member-card img {
  display: none;
}

.list .member-card .description {
  display: none;
}

.list .member-card .membership {
  display: none;
}

.name {
  width: auto;
  margin-top: 8px;
  color: #060d0f;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address {
  width: auto;
  margin-top: 8px;
  color: #060d0f;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  width: auto;
  margin-top: 8px;
  color: #060d0f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  width: auto;
  margin-top: 8px;
  color: #6491e4;
  overflow-wrap: break-word; 
  word-break: break-word; 
  display: flex;
  align-items: center;
  justify-content: center;
}


