*{
    font-family:"josefin Sans", sans-serif;
    box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 10px 2px 6px 12px;
  align-items: end;
  border-bottom: solid 1px white;
  column-gap: 10px;
  background-color: rgb(233, 197, 197);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.5rem;
    color:rgb(50, 7, 90)
}

.hamburger {
    background: none;
    border: none;
    color:rgb(50, 7, 90);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}
.hamburger.show::before {
  content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color:rgb(50, 7, 90);
    text-decoration: none;
    border-bottom: solid 1px white;
    font-size: 20px;
}

.navigation li.current{
    background-color: rgb(210, 183, 236);
    font-size: 20px ;
}

.navigation a:hover{
    background-color: rgb(50, 7, 90);
    color: white;
}

h1 {
    margin-left: 10px;
}

footer{
    background-color: rgb(233, 197, 197);
    padding: 1rem 10px;
    text-align: center;
    color: rgb(50, 7, 90);
    font-size: 1.3rem;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border:rgb(50, 7, 90) 1px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: rgb(50, 7, 90);
}

section {
background-color: antiquewhite;
}
.studentphoto img {
    width: 150px;
}

.coursebuttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

button {
  padding: 0.8rem 1.3rem;
  background-color: rgb(116, 14, 211);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 2rem;
  cursor: pointer;

}

button:hover {
  background-color: #e420ca;
}
#credittotal {
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: black;
}

.courselist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  
}

.course-card {
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-left: 8px solid;
  position: relative;
    
}

.course-card:hover {
  transform: scale(1.01);
}

.course-card.completed {
  background-color: #d4f8e8; 
  border-left-color: #28a745;
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.3);
}

.course-card.completed::before {
  content: '✓';
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  color: #28a745;
  font-weight: bold;
   background-color: #d4f8e8; 
  border-left-color: #28a745;
}

.course-card:not(.completed) {
    background-color: #f0f0f0;
    border-left-color: #999;
}
.aboutme {
  margin: 1rem 0;
}

.aboutme h2 {
  margin-bottom: 0.5rem;
}

.aboutme p {
  font-size: 0.95rem;
  line-height: 1.5;
}


.studentphoto {
  margin: 1rem 0;
  text-align: center;
}

h2 {
  width: 100%;
  height: 35px;
  background-color: rgb(50, 7, 90);
  color: aliceblue;
  margin: 1rem 0;
  text-align: center;

}


