@media only screen and (min-width:38rem){

header, main, nav, footer {
    max-width: 900px;
    margin: 0 auto;
}

header {
    grid-template-columns: 24px auto;
}

.hamburger {
    display: none;
}

.navigation {
    display: block;
    border-bottom: solid 1px rgb(184, 119, 245);
}
.navigation ul{
    display: flex;
}

.navigation a{
    border: none
}

.content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
}

.aboutme {
    grid-area: 1/1/2/1;
}

.studentphoto {
    grid-area: 1/2/1/2;

}
.studentphoto img{
    width: 400px;

}
.certificates {
     grid-area: 2/1/2/3;
}

.aboutme p{
    padding-left: 1.5rem;
    font-size: 25px;
}


}

