header {
    background-color: #B80A5B;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #e9d6e6;
    font-size: 25px;
    font-family: "Playwrite AU QLD", cursive;
    font-style: normal;
}

footer {
    background-color: #B80A5B;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: #e4cfe1;
    font-size: 15px;
    font-family: "Playwrite AU QLD", cursive;
    font-style: normal;
    font-size: 1rem;
}

div {
    margin: 2rem;
}

h2{
    color: #B80A5B;
    font-size: 35px;
}

p{
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
